<?xml version='1.0' encoding='utf-8'?>
<widget id="com.grupokc.Triton" version="0.0.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Triton</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="armando@codetlan.com" href="http://codetlan.com">
        Codetlan
    </author>
    <content src="index.html" />
    <access origin="*" />
    <icon src="../resources/icons/iTunesArtwork@2x.jpg" />
    <splash src="../resources/loading/Default.png" />
</widget>
